* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

a {
  color: inherit;
}

button {
  cursor: pointer;
}

.container {
  max-width: 1440px;
  width: 85%;
  margin: 0 auto;
}

main {
  padding: 40px 0;
  min-height: 100vh;
  background-image: linear-gradient(to bottom, #b2c8e8, #c0c8e7, #cbc9e4, #d5cae1, #dcccde);
}

.wrapper,
.loading {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.card,
.loading__item {
  padding: 20px;
  border: 2px solid;
  border-top: 2px solid blue;
  border-right: 2px solid red;
  border-bottom: 2px solid green;
  border-left: 2px solid black;
  transition: 0.4s;
  background: white;
  border-radius: 5px;
}

.card__img,
.loading__img {
  width: 100%;
  height: 300px;
  transition: 0.4s;
}
.card__img img,
.loading__img img {
  width: 100%;
  height: 100%;
}

.card__img:hover img {
  transform: scale(1.05);
}

.card__info {
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.desc {
  display: -webkit-box;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

.seeMore {
  padding: 10px 24px;
  background: blue;
  color: white;
  border: none;
  border-radius: 5px;
}

.loading__title {
  width: 80%;
  height: 26px;
  margin-top: 10px;
}

.loading__button {
  margin: 0 auto;
  width: 90%;
  height: 26px;
  margin-top: 10px;
}

.btn__se-more {
  display: block;
  margin: 20px auto;
  padding: 15px 30px;
  background: black;
  color: white;
  border: none;
}

.btn__se-more:disabled {
  background: rgba(16, 16, 26, 0.286);
  cursor: no-drop;
}

.loading__title:last-child {
  width: 60%;
}

.bg__animation {
  background: linear-gradient(90deg, #ddd, #aaa, #ddd);
  background-size: 200%;
  animation: bgMove 1s linear 0s infinite;
}

@keyframes bgMove {
  to {
    background-position: 200%;
  }
}
@media (max-width: 950px) {
  .wrapper,
  .loading {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
}
@media (max-width: 700px) {
  .wrapper,
  .loading {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
  }
}
body {
  background-image: linear-gradient(to bottom, #b2c8e8, #c0c8e7, #cbc9e4, #d5cae1, #dcccde);
}

.items,
.loading {
  padding: 50px;
}

.item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 400px;
  gap: 50px;
  align-items: center;
}

.loading__items {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 50px;
}

.item__infos {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.loading__img {
  width: 40vw;
}

.item__img {
  width: 100%;
}
.item__img img {
  width: 100%;
  height: 500px;
}

.loading__title {
  width: 35vw;
  height: 26px;
  margin-top: 10px;
  background: red;
}

.loading__title:last-child {
  width: 60%;
}

.loading__title:nth-child(2) {
  width: 60%;
}

.bg__animation {
  background: linear-gradient(90deg, #ddd, #aaa, #ddd);
  background-size: 200%;
  animation: bgMove 1s linear 0s infinite;
}

.product {
  position: relative;
}

.btn__home {
  position: absolute;
  padding: 10px 20px;
  border: 1px solid black;
  background: black;
  color: white;
  font-size: 22px;
  top: 60px;
  right: 120px;
}

@keyframes bgMove {
  to {
    background-position: 200%;
  }
}
@media (max-width: 1000px) {
  .item {
    padding-bottom: 20px;
    display: grid;
    grid-template-columns: 1fr;
    height: 400px;
    gap: 50px;
    align-items: center;
  }
  .loading__items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
  }
  .loading__img {
    width: 90vw;
  }
  .loading__title {
    width: 70vw;
    text-align: start;
  }
  .item__img {
    width: 100%;
  }
  .item__img img {
    width: 100%;
    height: 350px;
  }
  .btn__home {
    width: 100px;
    position: absolute;
    padding: 10px 20px;
    border: 1px solid black;
    background: black;
    color: white;
    font-size: 22px;
    top: 40px;
    left: 20px;
  }
}
@media (max-width: 600px) {
  .items,
  .loading {
    padding: 10px;
  }
}
@media (max-width: 400px) {
  .btn__home {
    width: 100px;
    position: absolute;
    padding: 10px 20px;
    border: 1px solid black;
    background: black;
    color: white;
    font-size: 18px;
    top: 10px;
    left: 20px;
  }
}